.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;
  row-gap: 0;
  place-items: center;
  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gridItem {
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gridImage {
  width: 100%;
}

.gridModal {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.loadMoreButton {
  background-color: #72f44a;
  color: black;
  padding: 0.5rem 1rem;
  position: relative;
  width: fit-content;
  margin: 1rem auto;
}

.trashNFTS {
  font-size: 4rem;
  text-align: center;
  color: #72f44a;
}

.masonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}

.masonryGridColumn {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}
