@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Roboto+Mono:wght@500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  cursor: url("/trashmouse.png"), auto;
}

button {
  background:yellow;
  height:50px;
  width:50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: url("/trashmouse.png"), auto;
}

html {
  background: black;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.logo a {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72F44A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4da533;
}