@use "nav.scss";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Roboto+Mono:wght@500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  cursor: url("/trash-cursor.png") 14 0, auto;
}

@media only screen and (max-width: 960px) {
  #trash-bag {
    max-width: 500px !important;
  }
}

@media only screen and (max-width: 500px) {
  #trash-bag {
    max-width: 250px !important;
  }
  #mobile-trash-logo {
    width: 80px !important;
  }
  #six-nine {
    width: 265px !important;
    height: 53.5px !important;
    -webkit-animation: moveX2 7s linear 0s infinite alternate,
      moveY2 7s linear 0s infinite alternate !important;
    -moz-animation: moveX2 7s linear 0s infinite alternate,
      moveY2 7s linear 0s infinite alternate !important;
    -o-animation: moveX2 7s linear 0s infinite alternate,
      moveY2 7s linear 0s infinite alternate !important;
    animation: moveX2 7s linear 0s infinite alternate,
      moveY2 7s linear 0s infinite alternate !important;
  }
}

@media only screen and (max-width: 300px) {
  #trash-bag {
    max-width: 200px !important;
  }
}

#trash-bag {
  width: 500px;
  cursor: url("/trash-cursor.png") 14 0, auto;
}

button {
  background: yellow;
  height: 50px;
  width: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: url("/trash-cursor.png") 14 0, auto;
}

html {
  background: black;
}

/* im using stylesheet haha */

.trash-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#trash-pillar {
  max-width: 70%;
  margin: 0 auto;
}

#exploded-trash-bag {
  width: 250px;
}

.logo a {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

img[src*="sandwich.png"] {
  display: none;
}

#header-with-logo {
  #mobile-trash-logo {
    width: 100px;
  }
  li {
    display: inline-block;
  }
  div {
    max-height: 120px;
  }
}

#mobile-trash-logo {
  width: 150px;
}

@media only screen and (max-width: 1500px) {
  img[src*="sandwich.png"] {
    display: block;
    position: absolute;
    top: 50px;
    right: 20px;
  }
  #desktop-menu {
    display: none;
  }
  #swap-button {
    font-size: 1em;
  }
  .remove-on-mobile {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72f44a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4da533;
}

.showgrid {
  display: none;
}

.hidegrid {
  display: block;
}

#six-nine {
  display: block;
  position: absolute;
  width: 530px;
  height: 107px;
  -webkit-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 530px);
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 530px);
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 530px);
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 530px);
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 107px);
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 107px);
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 107px);
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 107px);
  }
}

/* mobile keyframes */

@-webkit-keyframes moveX2 {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 265px);
  }
}
@-moz-keyframes moveX2 {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 265px);
  }
}
@-o-keyframes moveX2 {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 265px);
  }
}
@keyframes moveX2 {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 265px);
  }
}

@-webkit-keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 53.5px);
  }
}
@-moz-keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 53.5px);
  }
}
@-o-keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 53.5px);
  }
}
@keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 53.5px);
  }
}
