@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Roboto+Mono:wght@500;700&display=swap");
@import url("nav.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  cursor: url("/trash-cursor.png") 14 0, auto;
}

button {
  background: yellow;
  height: 50px;
  width: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: url("/trash-cursor.png") 14 0, auto;
}

html {
  background: black;
}

/* im using stylesheet haha */

.trash-container {
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#trash-pillar {
  max-width: 70%;
  margin: 0 auto;
}

#trash-bag {
  width: 500px;
}

#exploded-trash-bag {
  width: 250px;
}

.logo a {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72f44a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4da533;
}
