#drawer-menu {
  .nav-link {
    width: 150px;
    display: block;
  }
}

.chakra-link {
  cursor: url("/trash-cursor.png") 14 0, auto !important;
}

.nav-link {
  border: 1px solid #72f44a;
  color: #72f44a;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 0px 15px;
  margin: 0px 15px 16px 0px;
  transform: rotate(0.46deg);
  &:hover {
    border: 1px solid white;
    color: white;
  }
}

/* Mobile Stuff */
#chakra-modal-custom {
  background: black;
}
